In [3]:
import pandas as pd
import mysql.connector

# Load your large dataset
df = pd.read_csv('names_data.csv')  # Replace with your actual DataFrame source

# Convert DataFrame to list of tuples
data = [tuple(row) for row in df.itertuples(index=False, name=None)]

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",      # replace with your MySQL username
    password="My$ql2024",  # replace with your MySQL password
    database="baby_names_db"
)
cursor = conn.cursor()

# Define your insert query
insert_query = """
    INSERT INTO names (State, Gender, Year, Name, Births)
    VALUES (%s, %s, %s, %s, %s)
"""

# Insert in chunks
batch_size = 10000
for i in range(0, len(data), batch_size):
    cursor.executemany(insert_query, data[i:i + batch_size])
    conn.commit()
    print(f"Inserted rows {i} to {i + batch_size}")

cursor.close()
conn.close()
print("Data upload complete.")

Inserted rows 0 to 10000
Inserted rows 10000 to 20000
Inserted rows 20000 to 30000
Inserted rows 30000 to 40000
Inserted rows 40000 to 50000
Inserted rows 50000 to 60000
Inserted rows 60000 to 70000
Inserted rows 70000 to 80000
Inserted rows 80000 to 90000
Inserted rows 90000 to 100000
Inserted rows 100000 to 110000
Inserted rows 110000 to 120000
Inserted rows 120000 to 130000
Inserted rows 130000 to 140000
Inserted rows 140000 to 150000
Inserted rows 150000 to 160000
Inserted rows 160000 to 170000
Inserted rows 170000 to 180000
Inserted rows 180000 to 190000
Inserted rows 190000 to 200000
Inserted rows 200000 to 210000
Inserted rows 210000 to 220000
Inserted rows 220000 to 230000
Inserted rows 230000 to 240000
Inserted rows 240000 to 250000
Inserted rows 250000 to 260000
Inserted rows 260000 to 270000
Inserted rows 270000 to 280000
Inserted rows 280000 to 290000
Inserted rows 290000 to 300000
Inserted rows 300000 to 310000
Inserted rows 310000 to 320000
Inserted rows 320000 to 330000
Inserted rows 330000 to 340000
Inserted rows 340000 to 350000
Inserted rows 350000 to 360000
Inserted rows 360000 to 370000
Inserted rows 370000 to 380000
Inserted rows 380000 to 390000
Inserted rows 390000 to 400000
Inserted rows 400000 to 410000
Inserted rows 410000 to 420000
Inserted rows 420000 to 430000
Inserted rows 430000 to 440000
Inserted rows 440000 to 450000
Inserted rows 450000 to 460000
Inserted rows 460000 to 470000
Inserted rows 470000 to 480000
Inserted rows 480000 to 490000
Inserted rows 490000 to 500000
Inserted rows 500000 to 510000
Inserted rows 510000 to 520000
Inserted rows 520000 to 530000
Inserted rows 530000 to 540000
Inserted rows 540000 to 550000
Inserted rows 550000 to 560000
Inserted rows 560000 to 570000
Inserted rows 570000 to 580000
Inserted rows 580000 to 590000
Inserted rows 590000 to 600000
Inserted rows 600000 to 610000
Inserted rows 610000 to 620000
Inserted rows 620000 to 630000
Inserted rows 630000 to 640000
Inserted rows 640000 to 650000
Inserted rows 650000 to 660000
Inserted rows 660000 to 670000
Inserted rows 670000 to 680000
Inserted rows 680000 to 690000
Inserted rows 690000 to 700000
Inserted rows 700000 to 710000
Inserted rows 710000 to 720000
Inserted rows 720000 to 730000
Inserted rows 730000 to 740000
Inserted rows 740000 to 750000
Inserted rows 750000 to 760000
Inserted rows 760000 to 770000
Inserted rows 770000 to 780000
Inserted rows 780000 to 790000
Inserted rows 790000 to 800000
Inserted rows 800000 to 810000
Inserted rows 810000 to 820000
Inserted rows 820000 to 830000
Inserted rows 830000 to 840000
Inserted rows 840000 to 850000
Inserted rows 850000 to 860000
Inserted rows 860000 to 870000
Inserted rows 870000 to 880000
Inserted rows 880000 to 890000
Inserted rows 890000 to 900000
Inserted rows 900000 to 910000
Inserted rows 910000 to 920000
Inserted rows 920000 to 930000
Inserted rows 930000 to 940000
Inserted rows 940000 to 950000
Inserted rows 950000 to 960000
Inserted rows 960000 to 970000
Inserted rows 970000 to 980000
Inserted rows 980000 to 990000
Inserted rows 990000 to 1000000
Inserted rows 1000000 to 1010000
Inserted rows 1010000 to 1020000
Inserted rows 1020000 to 1030000
Inserted rows 1030000 to 1040000
Inserted rows 1040000 to 1050000
Inserted rows 1050000 to 1060000
Inserted rows 1060000 to 1070000
Inserted rows 1070000 to 1080000
Inserted rows 1080000 to 1090000
Inserted rows 1090000 to 1100000
Inserted rows 1100000 to 1110000
Inserted rows 1110000 to 1120000
Inserted rows 1120000 to 1130000
Inserted rows 1130000 to 1140000
Inserted rows 1140000 to 1150000
Inserted rows 1150000 to 1160000
Inserted rows 1160000 to 1170000
Inserted rows 1170000 to 1180000
Inserted rows 1180000 to 1190000
Inserted rows 1190000 to 1200000
Inserted rows 1200000 to 1210000
Inserted rows 1210000 to 1220000
Inserted rows 1220000 to 1230000
Inserted rows 1230000 to 1240000
Inserted rows 1240000 to 1250000
Inserted rows 1250000 to 1260000
Inserted rows 1260000 to 1270000
Inserted rows 1270000 to 1280000
Inserted rows 1280000 to 1290000
Inserted rows 1290000 to 1300000
Inserted rows 1300000 to 1310000
Inserted rows 1310000 to 1320000
Inserted rows 1320000 to 1330000
Inserted rows 1330000 to 1340000
Inserted rows 1340000 to 1350000
Inserted rows 1350000 to 1360000
Inserted rows 1360000 to 1370000
Inserted rows 1370000 to 1380000
Inserted rows 1380000 to 1390000
Inserted rows 1390000 to 1400000
Inserted rows 1400000 to 1410000
Inserted rows 1410000 to 1420000
Inserted rows 1420000 to 1430000
Inserted rows 1430000 to 1440000
Inserted rows 1440000 to 1450000
Inserted rows 1450000 to 1460000
Inserted rows 1460000 to 1470000
Inserted rows 1470000 to 1480000
Inserted rows 1480000 to 1490000
Inserted rows 1490000 to 1500000
Inserted rows 1500000 to 1510000
Inserted rows 1510000 to 1520000
Inserted rows 1520000 to 1530000
Inserted rows 1530000 to 1540000
Inserted rows 1540000 to 1550000
Inserted rows 1550000 to 1560000
Inserted rows 1560000 to 1570000
Inserted rows 1570000 to 1580000
Inserted rows 1580000 to 1590000
Inserted rows 1590000 to 1600000
Inserted rows 1600000 to 1610000
Inserted rows 1610000 to 1620000
Inserted rows 1620000 to 1630000
Inserted rows 1630000 to 1640000
Inserted rows 1640000 to 1650000
Inserted rows 1650000 to 1660000
Inserted rows 1660000 to 1670000
Inserted rows 1670000 to 1680000
Inserted rows 1680000 to 1690000
Inserted rows 1690000 to 1700000
Inserted rows 1700000 to 1710000
Inserted rows 1710000 to 1720000
Inserted rows 1720000 to 1730000
Inserted rows 1730000 to 1740000
Inserted rows 1740000 to 1750000
Inserted rows 1750000 to 1760000
Inserted rows 1760000 to 1770000
Inserted rows 1770000 to 1780000
Inserted rows 1780000 to 1790000
Inserted rows 1790000 to 1800000
Inserted rows 1800000 to 1810000
Inserted rows 1810000 to 1820000
Inserted rows 1820000 to 1830000
Inserted rows 1830000 to 1840000
Inserted rows 1840000 to 1850000
Inserted rows 1850000 to 1860000
Inserted rows 1860000 to 1870000
Inserted rows 1870000 to 1880000
Inserted rows 1880000 to 1890000
Inserted rows 1890000 to 1900000
Inserted rows 1900000 to 1910000
Inserted rows 1910000 to 1920000
Inserted rows 1920000 to 1930000
Inserted rows 1930000 to 1940000
Inserted rows 1940000 to 1950000
Inserted rows 1950000 to 1960000
Inserted rows 1960000 to 1970000
Inserted rows 1970000 to 1980000
Inserted rows 1980000 to 1990000
Inserted rows 1990000 to 2000000
Inserted rows 2000000 to 2010000
Inserted rows 2010000 to 2020000
Inserted rows 2020000 to 2030000
Inserted rows 2030000 to 2040000
Inserted rows 2040000 to 2050000
Inserted rows 2050000 to 2060000
Inserted rows 2060000 to 2070000
Inserted rows 2070000 to 2080000
Inserted rows 2080000 to 2090000
Inserted rows 2090000 to 2100000
Inserted rows 2100000 to 2110000
Inserted rows 2110000 to 2120000
Inserted rows 2120000 to 2130000
Inserted rows 2130000 to 2140000
Inserted rows 2140000 to 2150000
Inserted rows 2150000 to 2160000
Inserted rows 2160000 to 2170000
Inserted rows 2170000 to 2180000
Inserted rows 2180000 to 2190000
Inserted rows 2190000 to 2200000
Inserted rows 2200000 to 2210000
Inserted rows 2210000 to 2220000
Data upload complete.