### Maven Everest Challenge

Use data storytelling to visualize the evolution of mankind's pursuit of the world's highest peak.

#### Challenge Objective:

For the Maven Everest Challenge, you’ll play the role of a data journalist tasked with telling the story of mankind’s quest to conquer Mount Everest. Using real expedition data, your goal is to craft a compelling visual narrative that highlights things like key milestones, shifting strategies, and the climbers who dared to reach the top of the world.

#### About The Data Set:

This dataset, based on the archives of Elizabeth Hawley, provides a comprehensive record of mountaineering expeditions in the Nepalese Himalaya, spanning from 1905 to 2024. It includes detailed information on 89,000+ members across 11,000+ expeditions and 480 mountain peaks, including dates, successes, and significant events.

In [143]:
# importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# show full output
pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)

In [144]:
# read all the datasets
expedition = pd.read_csv('E:\Maven_Analytics_Challenges\Everest_Challenge\HimalayanExpeditions\exped.csv')
members = pd.read_csv('E:\Maven_Analytics_Challenges\Everest_Challenge\HimalayanExpeditions\members.csv')
peaks = pd.read_csv('E:\Maven_Analytics_Challenges\Everest_Challenge\HimalayanExpeditions\peaks.csv')
reference = pd.read_csv('E:\\Maven_Analytics_Challenges\\Everest_Challenge\\HimalayanExpeditions\\refer.csv', encoding="ISO-8859-1")

In [145]:
print('Expedition shape:', expedition.shape)
print('Members shape:', members.shape)
print('Peaks shape:', peaks.shape)
print('Reference shape:', reference.shape)

Expedition shape: (11425, 65)
Members shape: (89000, 61)
Peaks shape: (480, 23)
Reference shape: (15586, 12)

In [146]:
# let's join the members and expedition dataframes on expid
members_expedition = pd.merge(members, expedition, on='expid', how='left')

In [147]:
members_expedition.shape

(89089, 125)

In [148]:
# lets check if values in peakid_x and peakid_y are same
for i in range(len(members_expedition)):
    if members_expedition['peakid_x'][i] != members_expedition['peakid_y'][i]:
        print('Not same:', members_expedition['peakid_x'][i], members_expedition['peakid_y'][i])

In [149]:
# drop the column peakid_y
members_expedition.drop(columns=['peakid_y'], inplace=True)

In [150]:
# now let's join the members_expedition dataframe with the peaks dataframe on peakid
members_expedition = pd.merge(members_expedition, peaks, left_on='peakid_x', right_on='peakid', how='left')

In [151]:
members_expedition.shape

(89089, 147)

In [152]:
# now finally let's join the members_expedition dataframe with the reference dataframe on expid
members_expedition = pd.merge(members_expedition, reference, on='expid', how='left')

In [153]:
members_expedition.shape

(200037, 158)

In [154]:
# let's remove the columns that has more than 90% null values
members_expedition = members_expedition.dropna(thresh=len(members_expedition) * 0.9, axis=1)

In [155]:
members_expedition.shape

(200037, 107)

In [156]:
# duplicate records
members_expedition.duplicated().sum()

110948

In [157]:
# lets remove the duplicate records
members_expedition = members_expedition.drop_duplicates().reset_index(drop=True)
members_expedition.shape

(89089, 107)

In [158]:
# colums with null values
members_expedition.columns[members_expedition.isnull().any()]

Index(['fname', 'lname', 'citizen', 'msmtterm', 'route1', 'leaders', 'sponsor',
       'smtdate', 'campsites', 'location', 'pyear', 'pseason', 'pmonth',
       'pday', 'pexpid', 'pcountry', 'psummiters'],
      dtype='object')

In [159]:
# let's fill the null values in the columns with "not available"
members_expedition = members_expedition.fillna('not available')

In [160]:
members_expedition.duplicated().sum()

0

In [161]:
# colums with null values
members_expedition.columns[members_expedition.isnull().any()]

Index([], dtype='object')

In [162]:
# lets check if values in peakid_x and peakid are same
for i in range(len(members_expedition)):
    if members_expedition['peakid_x'][i] != members_expedition['peakid'][i]:
        print('Not same:', members_expedition['peakid_x'][i], members_expedition['peakid'][i])

In [163]:
# let's drop the peakid_x column
members_expedition.drop(columns=['peakid_x'], inplace=True)

In [164]:
members_expedition.dtypes

expid         object
membid         int64
myear          int64
mseason       object
fname         object
lname         object
sex           object
citizen       object
status        object
leader          bool
deputy          bool
bconly          bool
nottobc         bool
support         bool
disabled        bool
hired           bool
sherpa          bool
tibetan         bool
msuccess        bool
mclaimed        bool
mdisputed       bool
msolo           bool
mtraverse       bool
mski            bool
mparapente      bool
mspeed          bool
mhighpt         bool
mroute1        int64
mroute2        int64
mroute3        int64
mascent1       int64
mascent2       int64
mascent3       int64
mo2used         bool
mo2none         bool
mo2climb        bool
mo2descent      bool
mo2sleep        bool
mo2medical      bool
death           bool
deathhgtm      int64
msmtbid       object
msmtterm      object
mchksum        int64
year           int64
season        object
host          object
route1        object
nation        object
leaders       object
sponsor       object
success1        bool
success2        bool
success3        bool
success4        bool
claimed         bool
disputed        bool
smtdate       object
termreason    object
highpoint      int64
traverse        bool
ski             bool
parapente       bool
camps          int64
rope           int64
totmembers     int64
smtmembers     int64
mdeaths        int64
tothired       int64
smthired       int64
hdeaths        int64
nohired         bool
o2used          bool
o2none          bool
o2climb         bool
o2descent       bool
o2sleep         bool
o2medical       bool
o2taken         bool
o2unkwn         bool
campsites     object
comrte          bool
stdrte          bool
primrte         bool
primmem         bool
primref         bool
chksum         int64
peakid        object
pkname        object
location      object
heightm        int64
heightf        int64
himal         object
region        object
open            bool
unlisted        bool
trekking        bool
phost         object
pstatus       object
pyear         object
pseason       object
pmonth        object
pday          object
pexpid        object
pcountry      object
psummiters    object
dtype: object

In [171]:
members_expedition['citizen'].value_counts()

Nepal                      20923
USA                         7448
Japan                       6604
UK                          5818
France                      5089
Germany                     3792
Spain                       3598
S Korea                     3006
Italy                       2937
China                       2901
Switzerland                 2656
India                       2469
Austria                     2275
Russia                      1681
Australia                   1641
Poland                      1638
Canada                      1350
New Zealand                  853
Netherlands                  844
Czech Republic               769
Norway                       678
Slovenia                     575
Belgium                      505
Yugoslavia                   493
Ukraine                      459
Iran                         454
Sweden                       425
Czechoslovakia               355
Mexico                       350
Ireland                      296
Argentina                    283
USSR                         271
Romania                      267
Denmark                      259
Slovakia                     253
Bulgaria                     247
Brazil                       244
Chile                        227
Finland                      226
S Africa                     214
Hungary                      190
Singapore                    173
Malaysia                     171
Greece                       170
Kazakhstan                   162
Ecuador                      159
Taiwan                       137
Georgia                      120
Croatia                      117
Israel                       102
Portugal                      93
Colombia                      88
Indonesia                     86
Serbia                        81
Pakistan                      78
Latvia                        71
Iceland                       70
Lithuania                     70
UAE                           66
Turkey                        59
Thailand                      58
Estonia                       56
Peru                          55
Venezuela                     48
Andorra                       45
Mongolia                      45
Belarus                       44
Philippines                   42
Bangladesh                    41
Kyrgyz Republic               40
Uzbekistan                    37
Bahrain                       30
Macedonia                     27
Luxembourg                    26
Canada/USA                    25
Australia/New Zealand         23
Lebanon                       21
Nepal/UK                      20
Kosovo                        19
Qatar                         18
Ireland/UK                    18
Malta                         18
BosniaHerzegovina             17
UK/USA                        17
Kenya                         17
Morocco                       16
Hong Kong                     16
Vietnam                       16
Kuwait                        15
Switzerland/USA               15
Guatemala                     15
India/Nepal                   14
Costa Rica                    14
Brazil/USA                    12
Australia/Nepal               12
Turkey/USA                    12
Jordan                        11
Myanmar                       11
Montenegro                    11
USA/Ukraine                   11
Colombia/USA                  11
Azerbaijan/Russia             10
Australia/UK                  10
Oman                          10
France/Switzerland            10
Germany/Iran                   9
Uruguay                        9
Cyprus                         9
Poland/USA                     9
Russia/USA                     9
Bolivia                        9
Iran/UK                        8
Argentina/UK                   8
Spain/UK                       8
Moldova                        8
Iraq                           8
Albania                        7
Sri Lanka                      7
Iran/USA                       7
Romania/USA                    7
not available                  7
Algeria                        7
Liechtenstein                  7
Azerbaijan                     6
Russia/UK                      6
Saudi Arabia                   6
Canada/Russia                  6
Dominican Republic             6
Australia/Denmark              6
Mauritius                      5
San Marino                     5
Australia/Sweden               5
Jamaica/USA                    5
BosniaHerzegovina/USA          5
Pakistan/USA                   5
Spain/USA                      4
Ireland/USA                    4
Ecuador/Germany                4
S Africa/Zambia                4
Germany/USA                    4
New Zealand/UK                 4
Egypt                          4
S Africa/UK                    4
Italy/Slovenia                 4
China/USA                      4
El Salvador                    3
Denmark/Norway                 3
India/USA                      3
Germany/UK                     3
Ecuador/USA                    3
Afghanistan                    3
India/UK                       3
Nepal/USA                      3
Sri Lanka/UK                   3
Cyprus/Russia                  3
Spain/Venezuela                3
Russia/Ukraine                 3
Switzerland/UK                 3
Slovakia/USA                   3
Panama                         3
Brazil/Spain                   3
Canada/UK                      3
Palestine                      3
France/USA                     3
Armenia                        3
Bhutan                         3
Australia/S Africa             2
Kyrgyz Republic/Russia         2
Canada/Macedonia               2
Egypt/UK                       2
Malaysia/Singapore             2
Honduras                       2
Canada/Portugal                2
Argentina/Canada               2
Cuba                           2
S Africa/Ukraine               2
Latvia/USA                     2
Jordan/UK                      2
China/Japan                    2
Italy/USA                      2
Canada/Ireland                 2
Lebanon/UK                     2
Ethiopia/USA                   2
Germany/Switzerland            2
Lithuania/USA                  2
Australia/Ireland              2
Tunisia                        2
Tanzania                       2
Dominica                       1
Azerbaijan/Ukraine             1
Hungary/Romania                1
Germany/S Africa               1
France/Luxembourg              1
Turkmenistan                   1
Netherlands/Switzerland        1
Kenya/UK                       1
Australia/USA                  1
Hong Kong/UK                   1
Australia/Macedonia            1
N Korea                        1
Austria/Brazil                 1
Italy/UK                       1
Greece/Switzerland             1
Afghanistan/USA                1
UKraine/USA                    1
Germany/Paraguay               1
Iceland/UK                     1
Bangladesh/UK                  1
Australia/Mongolia             1
Jordan/Serbia                  1
Dominican Republic/USA         1
Portugal/S Africa              1
Botswana                       1
New Zealand/USA                1
Tajikistan                     1
Syria                          1
Canada/Poland                  1
Israel/USA                     1
Austria/USA                    1
Libya                          1
Cuba/USA                       1
Australia/Greece               1
Saudi Arabia/USA               1
Chile/Sweden                   1
Algeria/France                 1
Canada/Nepal                   1
Name: citizen, dtype: int64

In [166]:
import re

# Standardize 'citizen' values by sorting country names and removing special characters
def standardize_citizen(val):
    # Remove special characters except for alphabets, numbers, spaces, and '/'
    val = re.sub(r'[^A-Za-z0-9/ ]+', '', val)
    # Split by '/', sort, and join back if multiple countries
    if '/' in val:
        countries = [c.strip() for c in val.split('/')]
        countries = sorted(set(countries))
        return '/'.join(countries)
    return val.strip()

members_expedition['citizen'] = members_expedition['citizen'].apply(standardize_citizen)

In [170]:
# Still there are some inconsistencies in the 'citizen' column which need to be fixed like below
members_expedition['citizen'] = members_expedition['citizen'].replace({'Nepal/India': 'India/Nepal', 'Nepal/India?': 'India/Nepal',
                                                                       'India?': 'India', 'W Germany': 'Germany',
                                                                       'Malaysi': 'Malaysia',
                                                                       'Iran/W Germany': 'Germany/Iran',
                                                                       'Lativa/USA': 'Latvia/USA'})

In [168]:
# now that we have cleaned the data, let's save the cleaned data to a csv file
# members_expedition.to_csv('E:\Maven_Analytics_Challenges\Everest_Challenge\HimalayanExpeditions\members_expedition.csv', index=False)