<h3>Maven Analytics: Halloween Candy Rankings Challenge</h3>

In [3]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
# read the dataset
data = pd.read_csv("Halloween_Candy_Rankings/candy-data.csv")
data.shape

(85, 13)

In [5]:
# check the records
data.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

<b>Data Dictionary:</b>

 - <b>competitorname:</b> The name of the candy
 - <b>chocolate:</b> Does it contain chocolate?
 - <b>fruity:</b> Is it fruit flavored?
 - <b>caramel:</b> Is there caramel in the candy?
 - <b>peanutalmondy:</b> Does it contain peanuts, peanut butter or almonds?
 - <b>nougat:</b> Does it contain nougat?
 - <b>crispedricewafer:</b> Does it contain crisped rice, wafers, or a cookie component?
 - <b>hard:</b> Is it a hard candy?
 - <b>bar:</b> Is it a candy bar?
 - <b>pluribus:</b> Is it one of many candies in a bag or box?
 - <b>sugarpercent:</b> The percentile of sugar it falls under within the data set
 - <b>pricepercent:</b> The unit price percentile compared to the rest of the set
 - <b>winpercent:</b> The overall win percentage according to 269,000 matchups

In [7]:
# check the datatypes present
data.dtypes

competitorname       object
chocolate             int64
fruity                int64
caramel               int64
peanutyalmondy        int64
nougat                int64
crispedricewafer      int64
hard                  int64
bar                   int64
pluribus              int64
sugarpercent        float64
pricepercent        float64
winpercent          float64
dtype: object

In [9]:
# descriptive statistics
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
competitorname,85,85,100 Grand,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
chocolate,85.0,NaN,NaN,NaN,0.435294,0.498738,0.0,0.0,0.0,1.0,1.0
fruity,85.0,NaN,NaN,NaN,0.447059,0.50014,0.0,0.0,0.0,1.0,1.0
caramel,85.0,NaN,NaN,NaN,0.164706,0.373116,0.0,0.0,0.0,0.0,1.0
peanutyalmondy,85.0,NaN,NaN,NaN,0.164706,0.373116,0.0,0.0,0.0,0.0,1.0
nougat,85.0,NaN,NaN,NaN,0.082353,0.276533,0.0,0.0,0.0,0.0,1.0
crispedricewafer,85.0,NaN,NaN,NaN,0.082353,0.276533,0.0,0.0,0.0,0.0,1.0
hard,85.0,NaN,NaN,NaN,0.176471,0.383482,0.0,0.0,0.0,0.0,1.0
bar,85.0,NaN,NaN,NaN,0.247059,0.433861,0.0,0.0,0.0,0.0,1.0
pluribus,85.0,NaN,NaN,NaN,0.517647,0.502654,0.0,0.0,1.0,1.0,1.0
sugarpercent,85.0,NaN,NaN,NaN,0.478647,0.282778,0.011,0.22,0.465,0.732,0.988
pricepercent,85.0,NaN,NaN,NaN,0.468882,0.28574,0.011,0.255,0.465,0.651,0.976
winpercent,85.0,NaN,NaN,NaN,50.316764,14.714357,22.445341,39.141056,47.829754,59.863998,84.18029

In [10]:
# concise info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   competitorname    85 non-null     object
 1   chocolate         85 non-null     int64
 2   fruity            85 non-null     int64
 3   caramel           85 non-null     int64
 4   peanutyalmondy    85 non-null     int64
 5   nougat            85 non-null     int64
 6   crispedricewafer  85 non-null     int64
 7   hard              85 non-null     int64
 8   bar               85 non-null     int64
 9   pluribus          85 non-null     int64
 10  sugarpercent      85 non-null     float64
 11  pricepercent      85 non-null     float64
 12  winpercent        85 non-null     float64
dtypes: float64(3), int64(9), object(1)
memory usage: 8.8+ KB

In [11]:
# check for null/missing values
data.isnull().sum()

competitorname      0
chocolate           0
fruity              0
caramel             0
peanutyalmondy      0
nougat              0
crispedricewafer    0
hard                0
bar                 0
pluribus            0
sugarpercent        0
pricepercent        0
winpercent          0
dtype: int64

In [12]:
# duplicate records
data.duplicated().sum()

0

<b>Insights:</b>

 - Number of Records: 85, Number of Features:13
 - No missing or duplicate records present in the data